body{
   background-size:cover;
}
.heading{
    font-size: 20px;
    width: 100%;
    
}

#copy_right_footer{
    width: 100%;
    background-color: aqua;
   position: fixed;
   bottom: 0px;
   height: 50px;
   font-size: 30px;
}
canvas{
    border: 5px solid blue;
    border-radius: 20px;
}